body{
  height: 100vh;
  font-family: Verdana, Geneva, sans-serif;
  padding-top: 20px;
}

a:hover{
  text-decoration: none;
}

.preloader{
  position: fixed;
  margin-top: 200px;
  left: 50%;
  margin-left: -64px;
}

.panel-heading{
  a{
    color: #fff;
  }
  .btn > a{
    color: inherit;
  }
}
