
<a class="btn btn-default" href="#/">Вернуться к поиску</a>
<hr>
<h3 class="text-center">Список новостей по запросу: <br>{{nc.query}}</h3>

  <div class="panel panel-primary" ng-repeat="post in nc.news">
    <div class="panel-heading">
      <a href="/#/news/view/{{$index}}">
        [{{nc.getDate(post.date)}}]
      </a>
      <div class="btn btn-default btn-xs">
        <a href="/#/news/view/{{$index}}">Перейти к новости</a>
      </div>
    </div>
    <div class="panel-body">
      <div class="post-text">
        {{nc.getText(post.text)}}
      </div>
    <br>
    <div class="post-images">
      <a href="{{image.photo.src_big}}" data-lightbox="image-{{$parent.$index}}" data-title="post image" ng-repeat="image in nc.getImages($index)">
          <img src="{{image.photo.src}}" alt="" />
      </a>
    </div>
  </div>
    <div class="panel-footer">
      <a href="http://vk.com/{{post.user.screen_name}}" ng-show="post.user"><span class="glyphicon glyphicon-user" aria-hidden="true" ></span> {{post.user.last_name}} {{post.user.first_name}}&nbsp;&nbsp;</a>
      <a href="http://vk.com/{{post.group.screen_name}}" ng-show="post.group"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" ></span> {{post.group.name}}&nbsp;&nbsp;</a>
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{post.likes.count}}&nbsp;&nbsp;
      <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> {{post.reposts.count}}
    </div>
  </div>
